@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #F2F2F6;
}

/*Estilizando MAiN*/
main {
    height: 635px;
    flex-shrink: 0;
    background: url(assets/BackgroundBrino.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/*Estilizando MENU(HEADER)*/
header {
    display: flex;
    height: 76px;
    padding: 15.52px 60px;
    justify-items: center;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    border-bottom: 0.5px solid rgba(14, 14, 14, 0.30);
    background: rgba(14, 14, 14, 0.50);
    backdrop-filter: blur(20px);
}

.navegacao {
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 36px;
}

.logo {
    display: flex;
    padding: 0px 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 36px;
    list-style: none;
}

nav ul li a {
    color: rgba(255, 255, 255, 0.9);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
}

.botaoMenu a {
    display: flex;
    width: 176px;
    height: 54px;
    padding: 17px 18px;
    justify-content: center;
    align-items: center;
    gap: 6px;
    flex-shrink: 0;
    border-radius: 100px;
    background: #fff;
    backdrop-filter: blur(20px);
    text-decoration: none;
    color: #37b550;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

/*Finalizando Menu*/

/*Estilizando MAIN CONTEUDO*/
.conteudoMain {
    padding: 105px 61px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 68px;
}

.titlesMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
    align-self: stretch;
}

.titlesMain h1 {
    width: 1094px;
    height: 140px;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 58px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -2.9px;
}

.titlesMain h2 {
    color: rgba(255, 255, 255, 0.80);
    text-align: center;
    font-family: Inter;
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -1.3px;
}

.botaoMain {
    display: flex;
    height: 54px;
    padding: 18px 36px;
    justify-content: center;
    align-items: center;
    gap: 6px;
    border-radius: 100px;
    border: 1px solid rgba(90, 177, 142, 0.30);
    background: #5AB18E;
    box-shadow: 0px 4px 74px 0px #5AB18E;
    backdrop-filter: blur(20px);
}

.botaoMain a {
    text-decoration: none;
    color: #FFF;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

/*Finalizando Conteudo MAIN*/

/*Estilizando Section CARDS*/
.titleCards {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.titleCards h1 {
    padding-top: 54.16px;
    color: #0E0E0E;
    text-align: center;
    font-family: Inter;
    font-size: 41px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -2.05px;
}

.titleCards p {
    color: rgba(14, 14, 14, 0.70);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.8px;
    padding-bottom: 61px;
}

.cards {
    display: flex;
    padding: 0px 59px;
    padding-bottom: 100px;
    justify-content: space-between;
    align-items: center;
}

.card1,
.card2,
.card3 {
    display: flex;
    width: 399px;
    padding: 24px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    border: 0.5px solid rgba(255, 255, 255, 0.20);
    background: #E7E7E7;
}

.container1,
.container2,
.container3 {
    display: flex;
    width: 309px;
    flex-direction: column;
    align-items: flex-start;
    gap: 34px;
    flex-shrink: 0;
}

/*Estilizando h1 dos Cards*/
.titleLaranja h1,
.titleRoxo h1,
.titleVerde h1 {
    color: #F68B21;
    font-family: Inter;
    font-size: 29px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -1.16px;
    padding-bottom: 10px;
}

.titleRoxo h1 {
    color: #484588;
}

.titleVerde h1 {
    color: #37B550;
}

/*Finalizando Estilizacao h1 dos Cards*/

.titleLaranja p, .titleRoxo p, .titleVerde p{
    color: rgba(14, 14, 14, 0.70);
    font-family: Inter;
    font-size: 23px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: -0.92px;
}

.botaoLaranja, .botaoRoxo, .botaoVerde{
    display: flex;
    width: 312px;
    height: 62px;
    padding: 18px;
    justify-content: center;
    align-items: center;
    gap: 6px;
    border-radius: 100px;
    background: #F68B21;
    cursor: pointer;
}

.botaoRoxo{
    background: #484588;
}

.botaoVerde{
    background: #37B550;
}

.botaoLaranja a, .botaoRoxo a, .botaoVerde a{
    text-decoration: none;
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
/*Finalizando Section CARDS*/